@import url('https://fonts.cdnfonts.com/css/dash-horizon');

@font-face {
    font-family: 'Earth Orbiter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Earth Orbiter Regular'), url('fonts/earthorbiter.woff') format('woff');
}

@font-face {
    font-family: 'Conthrax SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Conthrax SemiBold'), url('fonts/conthrax-sb.woff') format('woff');
}

@font-face {
    font-family: 'Trench Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Trench Thin'), url('fonts/trench100free.woff') format('woff');
}