body {
    margin: 0;
    padding: 0;
    background: black;
    background-image: url('images/image.png');
    background-size: cover;
    overflow: hidden;
    user-select: none;
}

a, a:visited {
    text-decoration: none !important;
    color: white;
}

#navbar, #items, #border-area, #border-area div{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

#border-area {
    background-color: rgba(0, 0, 0, 0.4);
    width: 30vw;
    border-bottom-right-radius: 18.75rem;
}

#border-area div {
    background-color: rgba(0, 0, 0, 0.372);
    width: 26vw; height: 12vh;
    position: absolute;
    border-bottom-right-radius: 18.75rem;
    z-index: -1;
}

#items {
    background-color: rgb(0, 0, 0, 0);
    justify-content: end;
    position: relative;
    right: 1.875rem;
}

#items p, a {
    font-family: 'Earth Orbiter Regular';
    font-size: 1.5625rem;
    transition-duration: 0.5s;
}

a:hover {
    color: rgb(121, 170, 255);
    letter-spacing: 1mm;
}

#items p {
    margin: 0; padding: 0;
    display: inline-block;
    margin-left: 1.8rem;
    color: white;
}

.title {
    font-family: 'Dash Horizon';
    font-size: 2.8rem;
    font-weight: normal;
    z-index: 1;
    color: white;
    margin-left: 1.8rem;
}

#menu {
    font-size: 3.75rem !important;
}

#info {
    position: absolute;
    right: 0px;
    width: 70vw; height: 100vh;
    display: flex;
    justify-content: end;
    text-align: center;
}

#info p {
    color: white;
    margin-right: 6.25rem;
    max-width: 37.5rem; max-height: 100vh;
    font-family: "Trench Thin";
    font-weight: 600;
    font-size: 1.25rem;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    body {
        background-image: url('images/earthmobile.png');
    }

    .title {
        font-size: 2rem;
        margin-left: 0;
    }

    #border-area {
        width: auto;
    }

    #navbar {
        flex-direction: column;
    }

    #items {
        justify-content: center;
        right: 0rem;
    }

    #items a {
        font-size: 1rem;
    }

    #items p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #page {
        display: flex;
        justify-content: center;
    }

    #info {
        position: static;
    }

    #info p {
        margin: 0;
        margin-top: 3rem;
        font-size: 1.2rem;
    }
}