body {
    margin: 0;
    padding: 0;
    background: black;
    background-image: url('images/image.png');
    background-size: cover;
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none !important;
    color: white;
}

#navbar, #items, #border-area, #border-area div{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

#border-area {
    background-color: rgba(0, 0, 0, 0.4);
    width: 30vw;
    border-bottom-right-radius: 300px;
}

#border-area div {
    background-color: rgba(0, 0, 0, 0.372);
    width: 26vw; height: 12vh;
    position: absolute;
    border-bottom-right-radius: 300px;
    z-index: -1;
}

#items {
    background-color: rgb(0, 0, 0, 0);
    justify-content: end;
    position: relative;
    right: 30px
}

#items p, a {
    font-family: 'Earth Orbiter Regular';
    font-size: 25px;
    transition-duration: 0.5s;
}

a:hover {
    color: rgb(121, 170, 255);
    letter-spacing: 1mm;
}

#navbar p {
    margin: 0; padding: 0;
    display: inline-block;
    margin-left: 30px;
    color: white;
}

.title {
    font-family: 'Dash Horizon';
    font-size: 45px;
    font-weight: normal;
    z-index: 1;
}

#menu {
    font-size: 60px !important;
}

#info {
    position: absolute;
    right: 0px;
    width: 70vw; height: 100vh;
    display: flex;
    justify-content: end;
    text-align: center;
    background: linear-gradient(
        90deg,
        rgb(30, 30, 30, 0) 5%,
        rgb(0, 0, 0, 0.4) 20%,
        rgb(0, 0, 0, 0.9) 100%
    );
}

#info p {
    color: white;
    margin-right: 100px;
    max-width: 600px; max-height: 100vh;
    font-family: 'Conthrax Semibold';
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px dashed #fff;
    border-radius: 50%;
    animation: orbit 6s linear infinite;
}

.planet {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: #ffdd00;
    border: 2px dashed #000000;
    border-radius: 50%;
    animation: rotate-planet 5s linear infinite;
}

.moon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border: 2px dashed #575555;
    border-radius: 50%;
    animation: rotate-moon 3s linear infinite;
}

@keyframes orbit {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate-planet {
     0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate-moon {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    align-items: center;
}

.container {
    display: flex;
}

.card {
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

img {
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: 0.5s;
}

.intro {
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 67px;
    background: rgb(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
}

p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 230px;
    bottom: 67px;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}