body {
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-y: hidden;
}

canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
}

.loader-container {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px dashed #fff;
    border-radius: 50%;
    animation: orbit 6s linear infinite;
}

.planet {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: #ffdd00;
    border: 2px dashed #000000;
    border-radius: 50%;
    animation: rotate-planet 5s linear infinite;
}

.moon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border: 2px dashed #575555;
    border-radius: 50%;
    animation: rotate-moon 3s linear infinite;
}

.loading {
    position: absolute;
    top: 100%; left: 50%;
    transform: translate(-60%, -10%);
    color: white;
    font-family: "Earth Orbiter Regular";
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

@keyframes orbit {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate-planet {
     0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate-moon {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

h1 {
    font-family: Earth Orbiter Regular;
}

#header {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5vh;
    opacity: 0;
}

#header h1 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
}

.textbox {
    width: 300px;
    max-height: 300px;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom right,
            #080e1b, #021436);
    color: rgb(193, 193, 193);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(245, 240, 240);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Earth Orbiter Regular;

    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s;
}

.text {
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: monospace;
}

.infoContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.infoButton {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid rgb(129, 148, 255);
    rotate: 45deg;
    background-color: transparent;
    transition-duration: 0.5s;
}

.inner {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    transition-duration: 0.5s;
}

.infoButton:hover {
    transform: scale(1.5);
    opacity: 0.5;
}

.infoButton:hover .inner {
    background-color: rgb(101, 178, 255);
    transform: scale(0.2);
    rotate: 180deg;
    display: block;
}

.infoButton:hover+.textbox {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 2.5vh);
}

#pastContainer {
    position: absolute;
    left: 2.5vw;
}

#nextContainer {
    position: absolute;
    right: 2.5vw;
}

#aboutContainer {
    position: absolute;
    left: 2.5vw;
    bottom: 5vh;
    flex-direction: column-reverse;
}

#aboutContainer .infoButton:hover+#about {
    transform: translate(0, -2vh);
}

#playButton {
    position: absolute;
    bottom: 5vh;
    right: 2.5vw;
    flex-direction: column-reverse;
}

#playButton .infoButton {
    border: 0.1rem solid rgb(255, 73, 73);
}

#playButton .infoButton:hover .inner {
    background-color: rgb(255, 73, 73);
}

#playButton .textbox {
    background-image: linear-gradient(to bottom right,
            #1b0808, #360202);
}

#playButton .infoButton:hover+#play {
    transform: translate(0, -2vh);
}

#backWrapper {
    position: absolute;
    left: 2.5vw; top: 8vh;
    width: 0px; height: 0px;
    flex-direction: column;
    z-index: 3;
}

#back {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    rotate: 45deg;
    transition: transform 0.5s;
}

#back a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

#innerBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s;
}

#back2 {
    width: 1rem;
    height: 1rem;
    rotate: 45deg;
    margin-right: 0rem;
    background-image: linear-gradient(
        to bottom left,
        transparent 50%,
        white 50%
    );
}

#text {
    font-family: monospace;
    color: white;
    background-color: transparent;
}

#back:hover {
    transform: scale(1.5);
}

#back:hover+#innerBack {
    transform: translate(0, 2vh);
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    body {
        user-select: none;
    }

    #playButton .infoButton:active .inner {
        background-color: rgb(255, 73, 73);
    }

    .textbox {
        width: 20vh;
    }

    .infoButton:active {
        transform: scale(1.5);
        opacity: 0.5;
    }

    .infoButton:active .inner {
        background-color: rgb(101, 178, 255);
        transform: scale(0.2);
        rotate: 180deg;
        display: block;
    }

    #pastContainer {
        position: absolute;
        left: 0.5vw;
        top: 15vh;
    }

    #nextContainer {
        position: absolute;
        right: 0.5vw;
        top: 15vh;
    }

    #aboutContainer {
        position: absolute;
        left: 0.5vw;
        flex-direction: column-reverse;
    }

    #back {
        left: 2vh;
        top: 8.5vh;
    }

}