body {
    padding: 0; margin: 0;
}

canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
}

div {
    background-color: white;
}

h1 {
    font-family: Earth Orbiter Regular;
}

#header {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5vh;
    opacity: 0;
}

#header h1 {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.container {
    display: flex;
    justify-content: center;
}

.textbox {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom right,
    #080e1b, #021436);
    color: rgb(193, 193, 193);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(245, 240, 240);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Earth Orbiter Regular;
}

.textbook h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    font-family: monospace;
}